<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/editstyle.css">
    <title>Edit</title>
</head>
<body>
    <h1><b>Edit your post</b></h1>
    <div>
    <h4>Post ID   :  <%= id %> </h4>
    <h4>username  :  <%= post.username %> </h4>
    <form method="POST" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content"><%= post.content %></textarea>
        <br>
        <button>SUBMIT</button>
      </form>
    </div>
</body>
</html>