<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETAILZzzzzzz</title>
    <link rel="stylesheet" href="/detialstyle.css">
</head>
<body>
    <div id="mains">
    <h2>Post details </h2>
    <h3>ID   : <%= id %></h3>
    
    <div id="hu">
        <h3>@username : <%= post.username %></h3>
        <h4>content   : <%= post.content %></h4>
        <br>
    </div>
</div>
</body>
</html>