button{
    font-style:italic;
    margin-left: 30%;
    background-color: #a9c8e9;
}

div{
    position: fixed;
    top: 30%;    
    left: 37%;   
    padding: 50px;
    border: 2px solid black;
    background-color: aliceblue;
}

body{
    background-color: blueviolet;
    font-style:italic;
}

form::placeholder{
    font-style: italic;
}

textarea::placeholder{
    font-style: italic;
}

h1{
    padding-left: 45%;
    text-decoration:  black underline solid;
}