div{
    background-color: blanchedalmond;
    padding-left: 20px;
}

h4{
    font-style: bold;
}

#heading{
    color: #3F00FF;
    margin-left: 45%;
    text-decoration: underline ;
}
/* 
*{
    background-color:rgb(135, 206, 235);
} */

/* #details{
     background-color: aqua;
} */ 

 #buts{
    display: flex;
    flex-direction: column;
    padding-left: 80%;
} 

.ifo{
    text-decoration: none;
    color: blueviolet;
}


#new{
    margin-left: 90%;
    color: blueviolet;
    text-decoration: none;
}

#del{
    border-radius: 10%;

}